
h1 {
    font-family: 'Monoton', cursive;
}
h2{
    font-family: 'Handlee', cursive;
    color: blue;
    font-weight: bolder;
}
h3{
    font-family: 'Luckiest Guy', cursive;
    background-color:blue;
    text-align: center;
    color: white;
}